<div class="card-body">
                                    <!-- Lista de usuarios-->

<div class="table-responsive">
        <table id="userList" class="table table-bordered table-hover table-striped">
                <thead class="thead-light">
                <tr>
                        <th scope="col">id</th>
                        <th scope="col">iduser</th>
                        <th scope="col">idtipo_documento</th>
                        <th scope="col">primer_nombre</th>
                        <th scope="col">segundo_nombre</th>
                        <th scope="col">primer_apellido</th>
                        <th scope="col">segundo_apellido</th>
                        <th scope="col">telefono</th>
                        <th scope="col">idcargo</th>
                        <th scope="col">idrol</th>
                        <th scope="col">idarea</th>
                        <th scope="col">correo</th>
                        <th scope="col">contrasena</th>
                        <th scope="col">horario</th>
                        <th scope="col">codempleado</th>
                        <th scope="col">codadmin</th>
                        <th scope="col">idsede</th>
                        <th scope="col">idtipocontrato</th>

                        <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario: ${userList}">
                <th scope="row">1</th>
               <td th:text="${user.id}"></td>

                        <td>
                                <a href="#"><i class="fas fa-edit"></i></a> | <a href="#"><i class="fas fa-user-times"></i></a>
                        </td>
                </tr>
                <tr>
         

                            <td>
                                    <a href="#"><i class="fas fa-edit"></i></a> | <a href="#"><i class="fas fa-user-times"></i></a>
                            </td>
                    </tr>
                    </tbody>
            </table>
    </div>

    </div>